<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543714841007-4tbcf1snf54vs1uam73bcmhas4vkvchk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543714841007-4tbcf1snf54vs1uam73bcmhas4vkvchk</string>
	<key>API_KEY</key>
	<string>AIzaSyCx2tMFfGoHvYRBWIdNycYy1nwY00KfuV0</string>
	<key>GCM_SENDER_ID</key>
	<string>543714841007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdulkerimcan.FoursquareClone</string>
	<key>PROJECT_ID</key>
	<string>foursquareclone-17e55</string>
	<key>STORAGE_BUCKET</key>
	<string>foursquareclone-17e55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543714841007:ios:673baf925d88c054ac5f5a</string>
</dict>
</plist>